.btn-pdf-ultimo {
  background-color: #1976D2;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.btn-pdf-ultimo:hover {
  background-color: #0D47A1;
  transform: scale(1.05);
}

.alerta-virada {
  color: #FF5252;
  font-weight: bold;
  animation: piscar 1s infinite alternate;
}
@keyframes piscar {
  0% {opacity: 0.7;}
  100% {opacity: 1;}
}
.lote-ok {
  color: #4CAF50;
  font-weight: bold;
}
